*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.sidebare {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 78px;
  background: #343a40;
  transition: all 0.5s ease;
  z-index: 99;
  border-radius: 0 0 0 0;
}

.sidebare.open{
  width: 78px;
}

.content-container {
  margin-left: 78px;
  transition: all 0.5s ease;
  flex-grow: 1;
}

.sidebare.open ~ .content-container {
  margin-left: 78px; /* Largeur étendue de la barre latérale */
}

/* Ajustement pour petits écrans */
@media (max-width: 768px) {
  .sidebare {
    width: 60px;
  }
  .sidebare.open {
    width: 200px;
  }
  .content-container {
    margin-left: 60px;
  }
  .sidebare.open ~ .content-container {
    margin-left: 200px;
  }
}
.sidebare .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebare .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebare .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebare.open .logo-details .icon,
.sidebare.open .logo-details .logo_name{
  opacity: 1;
}
.sidebare .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebare.open .logo-details #btn{
  text-align: right;
}
.sidebare i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebare .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebare li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebare li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebare li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebare.open li .tooltip{
  display: none;
}
.sidebare input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebare.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebare .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebare.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebare .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebare li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #343a40;
}
.sidebare li a:hover{
  background: #FFF;
}
.sidebare li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebare.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebare li a:hover .links_name,
.sidebare li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebare li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebare li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebare.open li.profile{
  width: 78px;
}
.sidebare li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebare li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebare li.profile .name,
.sidebare li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebare li.profile .job{
  font-size: 12px;
}
.sidebare .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebare.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebare.open ~ .home-section{
  left: 78px;
  width: 78px;
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebare li .tooltip{
    display: none;
  }
}

.sidebare .logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebare .logout a {
  display: flex;
  background: #343a40;
  color: white;
  text-decoration: none;
}

.sidebare .logout a:hover {
  background: #FFF;
  color: #11101d;
}

.sidebare.open .logout a .links_name {
  opacity: 1;
  pointer-events: auto;
}


/* Style du menu déroulant */
.sidebare .dropdown {
  position: relative;
}

.sidebare .dropdown .arrow {
  margin-left: auto; /* Alignement de l'icône de la flèche */
  transition: 0.3s;
}

/* Style du sous-menu (caché par défaut) */
.sidebare .dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #343a40;
  min-width: 200px;
  border-radius: 15px;
  z-index: 1;
}

.sidebare .dropdown-content li {
  margin: 0;
  list-style: none;
}

.sidebare .dropdown-content li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.sidebare .dropdown-content li a:hover {
  background-color: #FFF;
  color: #11101d;
}

/* Afficher le sous-menu au survol de l'élément parent */
.sidebare .dropdown:hover .dropdown-content {
  display: block;
}

/* Rotation de la flèche lors du survol */
.sidebare .dropdown:hover .arrow {
  transform: rotate(180deg);
}

